#confirm-order-details h2{
    color:rgb(88, 88, 88);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.confirm-order{
    background-color: rgb(233, 233, 233);
    display: inline-flexbox;
    justify-content: space-around;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
}