html{
    // sets rem into base 10
    font-size:62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    font-size: $medium-size;
    text-align: center;
}

.stand-out{
    color: white;
    background-color:black;
}

button {
    cursor: pointer;
}

button:disabled{
    cursor:default;
}

.is-active{
    font-weight:bold;
}

.font-color-grey{
    color: rgb(114, 114, 114);
}
.font-color-light-grey{
    color: rgb(165, 165, 165)
}
.font-color-black{
    color: rgb(0, 0, 0);
}

.font-color-light-green{
    color: #2a9c3d;
}

.font-color-red{
    color:rgb(156, 1, 1);
}

.font-color-green{
    color: rgb(6, 97, 6);
}

.font-family-sans-serif{
    font-family: sans-serif;
}

.text-size-medium{
    font-weight:bolder;
    font-size:$medium-size;
}

.text-size-s-m{
    font-weight:bolder;
    font-size:$s-m;
}

.text-size-s{
    font-size:$s;
}

.side-by-side{
    display:flex; 
    flex-direction: row; 
    justify-content: center;
}

.margin-none{
    margin:0px;
}

.margin-t-b-lg{
    margin-top:20px;
    margin-bottom: 20px;
}

.padding-t-b-lg{
    padding-top:20px;
    padding-bottom: 20px;
}

.padding-none{
    padding-left:0px;
    padding-right:0px;
}

.background-c-light-grey{
    background-color:rgb(209, 209, 209)
}

.background-c-white{
    background-color:white;
}

.caps{
    text-transform: uppercase;
}

.stretch-background{
    width:100%;
}

.flex-display{
    padding-top:20px;
    padding-bottom: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hover-pointer{
    cursor:pointer;
}

.bottom-fixed{
    bottom:0;
    width:100%;
}

.hr-dot{
    background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}

.left-space-right{
    display: flex;
    justify-content: space-between;
}

.rtl{
    direction: rtl;
}

.border-0{
    border: none;
}

.form-control:read-only{
    background-color: white !important;
    font-weight:bolder;
    font-size:$medium-size;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.width-80{
    width:80%;
}

.position-relative{
    position: relative;
}