.box-layout{
    background: url('/images/Bred.png');
    background-size: cover;
    height: 50vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

#jumbo-banner{
    margin:1px 1px 1px 1px;
}